.home-form {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #0056a4;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0056a4;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-actions {
    display: flex;
    align-items: center;
}

.demo-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

.login-contact a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    max-width: 800px;
    margin: 0 auto;
}

.hero-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
    margin-bottom: 40px;
}

.get-started-button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}