.reviews{
    display: flex;
    max-height: 100vh !important;
    max-width: none !important;
    --bs-gutter-x: none !important;
    flex-direction: row;
    align-items: stretch;
}

card-footer{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
